<html ng-app="redditApp">
    <head>
        <title>Clone</title>
        {% load static %}
        <script src="{% static 'node_modules/angular/angular.js' %}" type="text/javascript"></script>
        <script src="{% static 'templates/app.js' %}"></script>
    </head>
    <body>
        <h1>Welcome</h1>

        {% if user.is_authenticated %}
            <p>Howdy Neighbor  {{ user }}</p>

             <a href="logout/"><button>Logout</button></a>

            <a href="create/"><button>Create Post</button></a>

        {% else %}
            <h3>Login:</h3>
            <form action="login/" method="post">
            {% csrf_token %}
                {{ loginForm }}
            <input type="submit" value="Submit" />
            </form>

            <h3>Register:</h3>
            <form action="register/" method="post">
            {% csrf_token %}
                {{ registerForm }}
            <input type="submit" value="Submit" />
            </form>
{% endif %}

        {% block content %}
        {% endblock %}
</body>
</html>